---

- name: add packages.sury.org apt repo
  apt_repository:
    repo: 'ppa:ondrej/php'
    state: present
  register: phpaptrepo

- name: update apt
  apt: update_cache=yes
  when: phpaptrepo.changed

- name: install php dependencies
  apt: name={{ item }} state=present
  with_items:
    - 'php7.0'
    - 'php7.0-bcmath'
    - 'php7.0-bz2'
    - 'php7.0-cli'
    - 'php7.0-common'
    - 'php7.0-curl'
    - 'php7.0-dba'
    - 'php7.0-dev'
    - 'php7.0-gd'
    - 'php7.0-json'
    - 'php7.0-ldap'
    - 'php7.0-mbstring'
    - 'php7.0-mcrypt'
    - 'php7.0-mysql'
    - 'php7.0-opcache'
    - 'php7.0-readline'
    - 'php7.0-soap'
    - 'php7.0-xml'
    - 'php7.0-zip'
    - 'php7.0-pgsql'
    - 'libapache2-mod-php7.0'
    - 'php-redis'
    - 'php-imagick'
    - 'php-pear'
    - 'php-uploadprogress'
    - 'imagemagick'

- name: install redis
  apt:
    name: redis-server
    state: present

- name: install memcached
  apt:
    name: memcached
    state: present

- name: create php log dir
  file:
    path: /var/log/php
    state: directory
    mode: 0755
    owner: www-data
    group: root

- name: create PHP error log file
  file:
    path: /var/log/php/error.log
    owner: www-data
    group: root
    mode: 0644
    state: touch

- import_tasks: php-ini.yml
